* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 72px;
    width: 1845px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 700;
}


.nav-ul ul {
    height: 24px;
    width: 347px;
    margin-left: 289px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-ul li {
    margin: 10px;
}

.nav-search {
    margin-top: 25px;
    margin-left: 600px;
    /* position: relative; */
}

.nav-button {
    background-color: #B43FEB;
    border: none;
    color: white;
    width: 128px;
    height: 40px;
    margin-left: 100px;
    margin-top: 16px;
    margin-bottom: 25px;
    border-radius: 24px;

}

.nav-notification {
    margin-left: 50px;
    margin-top: 10px;
}

.nav-profile {
    background-image: url("./profile.jpeg");
    background-position: center;
    background-size: cover;
    height: 32px;
    width: 32px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 50px;
}

.nav-arrow {
    margin-left: 34px;
    margin-top: 7px;
}

/* -----------------side-bar----------------- */

.side-bar {
    height: 890px;
    width: 245px;
    background-color: #f9f9f9;
    overflow: hidden;
}

.side-menu {
    height: 48px;
    width: 24px;
    margin-top: 46px;
    margin-left: 32px;
    color: #9CA4AB;
    font-weight: 400;
    font-size: 16px;
}

.side-discover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: #78828A;
    gap: 12px;
    width: 115px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 20px;
}

.top-rated {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 115px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin-left: 20px; */
}

.comming-soon {
    display: flex;
    color: #78828A;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 115px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 30px;
}

.side-liberary {
    height: 48px;
    width: 24px;
    margin-top: 46px;
    margin-left: 32px;
    color: #9CA4AB;
    font-weight: 400;
    font-size: 16px;
}

.side-recent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #78828A;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 115px;
    height: 24px;
    flex: none;
    float: left;
    order: 1;
    flex-grow: 0;
    margin-left: 30px;

}

.side-download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: #78828A;
    gap: 12px;
    width: 115px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 25px;

}

.side-darkmode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #78828A;
    padding: 0px;
    gap: 12px;
    width: 115px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 35px;
}

.side-setting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #78828A;
    padding: 0px;
    gap: 12px;
    width: 115px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 15px;
}